* {
    color-scheme: dark;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Para ocultar la barra de desplazamiento */
    position: relative;
  }

  #particles-canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border: 2px solid white;
  }

  .video {
    width: 45%;
  }

  .descripcion {
    width: 45%;
  }

  h2 {
    text-align: center;
    
  }

  .genero {
      display: flex;
      list-style: none;
      gap: 30px;
  }
  .genero-li {
      background-color: aqua;
      color: black;
      border-radius: 10px;
  }

  .percentage {
      font-size: 24px;
      line-height: 100px;
      color: #333;
      font-weight: bold;
  }

  .chart {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #eee;
      position: relative;
      display: inline-block;
  }
  .chart-container {
      text-align: center;
    }
    .rating {
      list-style: none;
      padding: 0;
      display: inline-block;
    }
    .star {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-size: 24px;
      cursor: pointer;
      color: #ccc;
    }
    .star:hover,
    .star.selected {
      color: #ffcc00; /* Cambia el color al pasar el ratón o cuando está seleccionado */
    }
.tracking-in-contract{animation:tracking-in-contract 1s linear both} @keyframes tracking-in-contract{0%{letter-spacing:.6em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}
